body {
    background-color: rgb(226, 249, 255);
}
.images {
width: 400px;
height: auto;
border: 5px solid rgb(54, 6, 165);
border-radius: 5%;
}
.headings {
    color: rgb(54, 6, 165);
}
li  {
    font-family: fantasy;
    color: dimgrey;
}
.button {
    background-color: rgb(131, 185, 240);
border-color: lightblue;
}
#comment-imput {
    width: 400px;
    height:80px;
    resize: none;
}